.wrap {
	width: 80%;
	margin: auto;
}
header {
	background:orange;
	text-align: center;
	/*padding: 2px;*/
	font-size: 30px;
	font-family: sans-serif;
	font-variant-caps: all-small-caps;
}
.title-bar ul {
	/*position: relative;*/
	width: 100%;
}
.title-bar ul > li {
	overflow: hidden;
	position: relative;
	display: inline;
	background: #3e3e3e;
	color: white;
	font-family: sans-serif;
	padding: 20px;
	border-radius: 10px;
}
.color {
	margin-left: 250px;
}
.title-bar ul > li:hover {
	cursor: pointer;
	background: #333;
}
ul.options {
	position: absolute;
	opacity: 0;
	margin-top: -10px;
}
ul.options li {
	overflow: hidden;
	display: inline-block;
	margin-top: 30px;
	margin-left: -100px;
	text-align: center;
}
.title-bar li:hover .options {
	opacity: 1
}
#create {
	cursor: pointer;
}
#color {
	margin-left: 350px;
	width: 400px;
}
#color button {
	width: 50px;
	height : 50px;
	cursor: pointer;
}
#black {background: black;}#yellow {background: yellow;}#red{background:red}#green{background:green;}
#brown {background: brown;}#orange {background: orange;}#silver {background: silver}#blue{background:blue;}

#table {
	width: 100%;
	margin: auto;
	margin-top: 200px;
	overflow: hidden;
}
#table table {
	max-width: 100%;
	margin: auto;
	empty-cells: show;
}
#table  td {
	max-width: 10px;
	border: 1px solid black;
	cursor: pointer;
	color: transparent;
	background: transparent;
}
